* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Button {
    button {
        border: none;
        gap: 8px;
        font-family: var(--font-primary);
        font-weight: var(--fw-medium);
        font-size: 18px;
    }
}