/* 
form .description{
    height: 100px ;
    width: 50%;
} */
/* .author{
    width: 50%;
    background-color: var(--grey15);
    color:white ;
    height:66px ;
} */
@media (max-width:992px) {

    .bh-row1,.bh-row2,.bh-row3{
        display: flex;
        flex-direction: column;
.tt{
        width: 100%;
    }
    }
    
}