.rtContactForm{
    margin-top: 50px;
    padding: 60px;
    border-top: 1px solid var(--grey20);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--grey15);
    .rtFirstRow{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        /* justify-content: space-between; */
    }
    .rtSecondRow{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border: 1px solid var(--grey20);
        border-radius: 8px;
        background-color: var(--grey12);
        span{
            font-size: 18px;
            line-height: 150%;
        }
        .rtContainerChecks{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .rtRowChecks{
                display: flex;
                gap: 20px;
                color: var(--green99);
                font-size: 16px;
                font-family: "Barlow" , serif;
                line-height: 150%;
                div{
                    min-width: 541px;
                    display: flex;
                    align-items: center;
                    input{
                        margin-right: 10px;
                        width: 28px;
                        height: 28px;
                        border-radius: 4px !important;
                        border: 1px solid var(--grey20);
                        background-color: var(--grey15);
                        background-color: #ffffff00;
                    }
                }
            }
        }
    }
    .rtThirdRow{
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--grey20);
        border-radius: 6px;
        background-color: var(--grey12);
        label{
            font-size: 18px;
            line-height: 150%;
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 34px;
            input{
                padding-bottom: 6px;
                background-color: #ffffff00;
                font-size: 16px;
                line-height: 150%;
                border: none;
                border-bottom: 1px solid var(--grey20);
                
            }
            div{
                border: 1px solid var(--grey20);
            }
        }
    }
}

