
.header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  height: 366px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
background-color: #191919 ;
opacity: 0.6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .bh-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  height: auto;
}

.bh-card {
  padding: 25px;
  border-right: 1px solid var(--grey15);
  border-bottom: 1px solid var(--grey15);
  height: 420px;

  .bh3{
    margin-top: 80px;
    margin-left: 60px;
    font-size: 20px
  ;
  }
  .bh-p{
  margin-left: 60px;
  margin-top: 20px;
  font-size: 16px;

  }
}

.bh-small-card {
  padding: 15px;
  border-radius: 6px;
  margin-top: 30px;
  margin-left: 60px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  border: 1px solid var(--grey15); ;
}
.profile-block {
  display: flex;
  align-items: center;
  gap: 2.5px;
}
.profile-img {
  width: 50px;
  border-radius: 8px;

}
.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 150%;
  padding-left: 12px;
}
.bh-btn {
  padding: 14px 16px;
  background-color: var(--grey15);
  color: var(--absolutefff);
}
.bh-author{
  font-size: 16px;
}
.bh-author-title{
  font-size: 14px;
}

@media (max-width: 992px) {
  .bh-cards {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
    border: 4px  solid var(--grey15);
    .bh3,.bh-p,.bh-small-card{
      margin-left: 24px;
    }
    
  }
  .bh-btn{
    display: none;
  }
  .bh-card{
    height: auto;

  .bh3{
    margin-top: 40px;
  }
  }
  .bh-small-card{
    height: 73px;
    margin-top: 24px;
  }
 
}
