.bs-squareup::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: 
    url('public/img/squares.png'),
    url('public/img/backgrounds/waveToUp.png');
    background-repeat: repeat, no-repeat;
    background-position: center, center;
    background-size: auto, cover;
    filter: grayscale(100%) brightness(0.3);
  }
.bs-squareup{
    margin-bottom: 80px;
    border-bottom: 1px solid var(--grey15);
    background-color: black;
    position: relative;
    padding: 120px 0px;
    text-align: center;
    .bs-square{
        position: relative;
        z-index: 2;
        filter: none;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: var(--green50);
    }
    h2{
        position: relative;
        z-index: 2;
        filter: none;
        margin-top: 50px;
        font-family: var(--font-primary);
        font-weight: var( --fw-semibold);
        font-size: 38px;
        color: var(--absolutefff);
    }
    p{
        position: relative;
        z-index: 2;
        filter: none;
        width: 896px;
        margin-top: 14px;
        margin: auto;
        font-family: var(--font-primary);
        font-weight: var(--fw-regular);
        font-size: 18px;
        color: var(--grey90);
    }
}
@media (max-width: 992px) {
    .bs-squareup{
    padding: 50px 16px;

    }
    .bs-square{
        width: 50px;
        height: 50px;
    }
    h2{
        font-size: 24px !important;
        max-width: 100%;
    }
    p{
        max-width: 100%;
        font-size: 14px !important;
    }
}