.bs-services-section {
    .bs-services-grid {
        background-color: var(--grey15);
        display: flex;
        
        
.bs-service-card {
            width: 100%;
            padding: 40px;
            border: 1px solid var(--grey20);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            .bs-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
.bs-service-square {
                width: 70px;
                height: 70px;
                border-radius: 8px;
                border: 1px solid var(--grey20);
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(225deg, var(--grey35) 0%, var(--grey20) 50%, var(--grey15) 100%);
                backdrop-filter: blur(10px);
                
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            h3 {
                margin-top: 30px;
                color: var(--absolutefff);
                font-family: var(--font-primary);
                font-weight: var(--fw-semibold);
                font-size: 24px;
            }
            p {
                margin-top: 14px;
                color: var(--grey90);
                font-family: var(--font-primary);
                font-weight: var(--fw-regular);
                font-size: 16px;
                flex-grow: 1;
            }
.bs-learn-more-btn {
                margin-top: 40px;
                width: 100%;
                height: 52px;
                text-align: center;
                background-color: var(--grey20);
                backdrop-filter: blur(10px);
                border-radius: 6px;
                color: var(--absolutefff);
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 992px) {
.bs-services-section {
    .bs-services-grid {
            flex-direction: column;
    .bs-service-card {
                padding: 30px;
    .bs-container {
                    flex-direction: row; 
                    align-items: center;
                    gap: 20px;
                }
.bs-service-square {
                    width: 60px;
                    height: 60px;
                    flex-shrink: 0;
                    
                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
                h3 {
                    margin-top: 0;
                    font-size: 20px;
                }
                p {
                    margin-top: 16px;
                    font-size: 14px;
                }
.bs-learn-more-btn {
                    margin-top: 24px;
                    height: 48px;
                }
            }
        }
    }
}