@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&family=Inter:opsz@14..32&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
font-family: "Barlow", sans-serif;
font-family: "Inter", sans-serif;
*/
body{
  background-color: var(--grey10);
}
/* .rtMainContainer{
  padding-left: 5.55vw;
  padding-right: 5.55vw;
  padding-top: 85px;
} */
.rtMainContainer{
  padding-left: 8.49vw;
  padding-right: 8.385vw;
  padding-top: 85px;
}

/* 
@media screen and (min-width: 1440px) {
  .rtMainContainer{
    padding-left: 9.2vw;
    padding-right: 9.2vw;
  }
} */
@media screen and (max-width: 1440px) {
  .rtMainContainer{
    padding-left: 5.55vw;
    padding-right: 5.55vw;
    /* padding-top: 85px; */
  }
}

@media screen and (max-width: 992px) {
  .rtMainContainer{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 106px;
  }
}